/* Global Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5) url('premium_photo-1661764393655-1dbffee8c0ce.avif') no-repeat center center fixed;
    background-size: cover;
    color: #0f0;
}

header {
    background: rgba(17, 17, 17, 0.7); /* Translucent background for header */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 255, 0, 0.3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0f0;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0ff;
}

main {
    padding: 60px 20px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Translucent background for main content */
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

footer {
    background: rgba(17, 17, 17, 0.7); /* Translucent background for footer */
    color: #0f0;
    text-align: center;
    padding: 7px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
